@import '../../styles/_mixins.scss';
@import '../../styles/_fonts.scss';

.app {

  &__title {
    font-size: 1.2rem;
    margin: .5rem 0;
  }

  &__logo {
    z-index: 900;
    width: 100%;
    position: fixed;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    top: 0;
    left: 0;

    svg {
      height: 1rem;
      max-width: 100%;
      width: auto;
    }
  }

  &__container {
    padding-top: 50px;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  @include breakpoint(medium) {

    &__logo {
      z-index: 900;
      padding: 20px;

      svg {
        height: 2.2rem;
      }
    }

    &__container {
      padding-top: 80px;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  @include breakpoint(large) {

    &__container {
      padding-left: 6rem;
      padding-right: 6rem;
      max-width: 2560px;
    }
  }
}
