@import '../styles/_mixins.scss';
@import '../styles/_variables.scss';

.product {
  position: relative;
  text-align: center;
  margin-bottom: 15px;

  &__onsale {
    position: absolute;
    background-color: $priceHighlight;
    color: #fff;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 10;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8rem;
    line-height: 1.6em;
    font-weight: 400;
    margin: .5rem 0 0 0;
    text-align: center;
  }

  &__image {
    width: 100%;
    position: relative;
    border-bottom: 1px solid $subtleAccent;
    min-height: 80px;
    background-color: $verySubtleAccent;

    &--broken {
      position: relative;

      &::before {
        font-size: 4rem;
        height: 80px;
        line-height: 80px;
        width: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -40px 0 0 -30px;
        text-align: center;
        font-family: "Font Awesome 5 Free";
        content: "\f1c5";
        color: #ccc;
        display: block;
      }
    }

    img {
      width: 100%;
      max-width: 100%;
      min-height: 100%;
      border-style: none;
      display: block;
    }
  }

  &__sizes {
    display: flex;
    justify-content: center;
  }

  &__sizes--invalid &__size {
    border-color: red;
  }

  &__size {
    cursor: pointer;
    padding: 0 .4rem;
    margin: 0 .15rem;
    font-size: 0.8rem;
    line-height: 1.5em;
    border: 1px solid $subtleAccent;
    user-select: none;

    &--selected {
      background-color: $mainAccent;
      color: $mainAccentFont;
    }
  }

  &__prices {
    text-align: center;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__price {

    &--discount {
      padding-right: .3rem;
    }

    &--actual {
      font-weight: 700;
      font-size: .85rem;
    }

    &--regular {
      text-decoration: line-through;
      color: $fadedText;
      padding-right: .3rem;
      font-size: .85rem;
    }
  }

  &__installments {
    padding-left: .5rem;
    font-size: .75rem;
  }

  &__add {
    cursor: pointer;
    padding: 0.3rem 0;
    width: 100%;
    background-color: $mainAccent;
    color: $mainAccentFont;
    border: 0;
    font-size: .85rem;
    margin-top: 0.8rem;
  }

  @include breakpoint(small) {
    padding: 1rem;
    margin-bottom: 0;
    flex-direction: column;
    flex: 0 1 50%;
    min-width: 50%;

    &__add {
      padding: 0.5rem 2.5rem;
      font-size: .9rem;
    }

    &__price {

      &--actual, &--regular {
        font-size: .9rem;
      }
    }

    &__installments {
      font-size: .8rem;
    }

    &__image {
      padding-bottom: 127%;

      img {
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        top: 0;
      }
    }
  }

  @include breakpoint(medium) {
    flex: 0 1 25%;
    min-width: 25%;

    &__size {
      padding: 0 .4rem;
      line-height: 1.8em;
    }
  }

  @include breakpoint(large) {
    flex: 0 1 20%;
    min-width: 20%;
    padding: 1.5rem;

    &__add {
      width: auto;
    }

    &__name {
      font-size: .9rem;
    }
  }

}
