@import '../../styles/_mixins.scss';
@import '../../styles/_fonts.scss';

.app {

  &__title {
    font-size: 1.2rem;
    margin: .5rem 0;
  }

  &__logo {
    width: auto;
    z-index: 900;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 15px;

    svg {
      height: 1rem;
      max-width: 100%;
      width: auto;
    }
  }

  &__container {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  @include breakpoint(medium) {

    &__logo {
      z-index: 900;
      margin: 20px;

      svg {
        height: 2.2rem;
      }
    }




    &__title {
      font-size: 1.8rem;
      margin: 1rem 0;
    }

    &__container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  @include breakpoint(large) {

    &__container {
      padding-left: 6rem;
      padding-right: 6rem;
      max-width: 2560px;
    }
  }
}
