@import '../../styles/_mixins.scss';
@import '../../styles/_fonts.scss';

.app {

  &__container {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  @include breakpoint(medium) {

    &__container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  @include breakpoint(large) {

    &__container {
      padding-left: 6rem;
      padding-right: 6rem;
      max-width: 2560px;
    }
  }

}
